@media screen and (min-width: 1024px) {
    /* Código omitido */
  
    .swiper-button-prev,
    .swiper-button-next {
      display: block;
      top: 60%;
    }
  }
  @media screen and (min-width: 1728px) {
    .carrossel__container {
      display: flex;
      width: 50%;
      margin: 0 20vw 3em 20vw;
      .descricao__titulo {
        font-size: 32px;
        .card {
            margin-left: 3em;
            swiper-pagination {
                margin: 1em 0;
              }
          }
          .swiper {
            width: 50%;
          }
      }
    }
  }
  .descrição__titulo {
    font-size: 32px;
  }

  .descrição__texto {
    font-size: 16px;
  }
  .card {
    width: 60%;
    margin-left: 3em;
  }